<!-- eta vaina e pa mostrar el listado de pedidos del comercio, tu modificalo como te de la gana 

<div class="container">
    <h1>Pedidos</h1>
    <ul class="list-group">
        {{#each pedidos}}
        <li class="list-group-item">
            <div>
                <img src="{{comercio.logo}}" alt="{{comercio.nombreComercio}}" class="comercio-logo">
                <span>{{comercio.nombreComercio}}</span>
                <span>{{estado}}</span>
                <span>{{total}}</span>
                <span>{{fechaHora}}</span>
                <span>{{productosPedido.length}} productos</span>

                <a href="/comercio/pedidos/{{id}}" class="btn btn-info">Ver detalles</a> 
                esta parte de aca tu la puedes cambiar por un hover al pedido
                asi que si tu le clickeas encima al pedido en cualquier parte po te manda al detalle
                supongo


            </div>
        </li>
        {{/each}}
    </ul>
</div>

-->